
html
{
	background-color: white;
}


#navBarMenu
{
	text-align: right;
}

#userImage
{
	border-radius: 50%;
	height: 32px;
	width: 32px;
}

#mainLogo
{
	display: block;
	margin: auto;
	height: 92px;
	width: 272px;
	padding-top: 109px;
}

#search
{
	width: 459px;
	height: 34px;
	box-shadow: 5px 5px 5px #888888;
	display: block;
	margin: auto;

}

#searchBox
{
	display: block;
	margin: auto;
	width: 459px;
	height: 34px;
	outline: none;
	font: 16px arial, sans-serif;
	line-height: 34px;
	margin-top: 30px;
	cursor: auto;
	text-indent: 13px;
}


#buttons
{

	text-align: center;
	padding-top: 30px;
}


.mainButtons
{
	font-family: arial, sans-serif;
	color: #757575;
	font-size: 13px;
	border-radius: 2px;
	border: 1px solid #f2f2f2;
	background-color: #f2f2f2;
	font-weight: bold;
	margin: 11px 4px;
	padding: 11px;
	text-align: center;

}

.mainButtons:hover
{
	border: 1px solid #c6c6c6;
	color: black;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

li
{
	display: inline;
	font-size: 13px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: arial, sans-serif;
}

.topButton
{	
	opacity: .55;
}

.topButton:hover
{
	opacity: .85;
}

a
{
	text-decoration: none;
	color: black;
}

a:hover
{
	text-decoration: underline;
}

img
{
	height: 15px;
	width: 15px;
	text-align: center;
	vertical-align: middle;
}


