
html
{
	background-color: white;
}


#navBarMenu
{
	text-align: right;
}

#userImage
{
	border-radius: 50%;
	height: 32px;
	width: 32px;
}

#mainLogo
{
	display: block;
	margin: auto;
	height: 92px;
	width: 272px;
	padding-top: 109px;
}

#search
{
	width: 459px;
	height: 34px;
	box-shadow: 5px 5px 5px #888888;
	display: block;
	margin: auto;

}

#searchBox
{
	display: block;
	margin: auto;
	width: 459px;
	height: 34px;
	outline: none;
	font: 16px arial, sans-serif;
	line-height: 34px;
	margin-top: 30px;
	cursor: auto;
	text-indent: 13px;
}

li
{
	display: inline;
	font-size: 13px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: arial, sans-serif;
}

.button
{	
	opacity: .55;
}

.button:hover
{
	opacity: .85;
}

a
{
	text-decoration: none;
	color: black;
}

a:hover
{
	text-decoration: underline;
}

img
{
	height: 15px;
	width: 15px;
	text-align: center;
	vertical-align: middle;
}


